h2{
    text-align: center;
    font-family: cursive;
}
p span{
    font-size: 20px;
    color: blueviolet;

}
#one{
    font-size: 40px;
}
p{
    text-align: justify;
    font-size:16px;
    line-height: 24px;/* 16*1.5=24 */

}
a{
    background-color: brown;
    color: white;
    text-decoration: none;
    font-family: arial;
    display: block;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px; /* height onugai e boseta hobe*/

}